<p id="notice"><%= notice %></p>

#  search table
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <h1>Agencies</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <%= form_tag(agencies_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search',  name: nil %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for agency in @agencies %>
        <div class='task'>
            <strong> <%= agencies.name %> </strong>
        </div>
        <%= link_to 'Edit', edit_task_path(term) %>
      <% end %>
     </tr>       
  </tbody>
</table>
#  End search table
  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency', new_agency_path %>
