<div class="container results">
    <h2><%= @agency.name %></h2>
    <h4>Agency Rating: <%= @agency.rating %>
    <h3><%= @agency.phone %></h3>
    <p><%= @agency.street %></p>
    <p><%= @agency.city %>,<%= @agency.state %></p>
</div>