<section class="cards">
      <div>
    <h2 class="results"><%= @agency.name %></h2>
    <h4 class="results1">Agency Rating: <%= @agency.rating %>
    <h3 class="results1"><%= @agency.phone %></h3>
    <p class="results1"><%= @agency.street %></p>
    <p class="results1"><%= @agency.city %>,<%= @agency.state %></p>
    </div>
</section>