<div id="push">
  <footer class="footer navbar-fixed-bottom">

    <div class="footer-container">
      <nav>
        <div class="contact-us">
          <div class="pull-left">
          <h5>Contact Us</h5>
          <ul>
          <p>123 Main Street,
          <br>
          New York, NY 10001
          <br><br>
          <a href="#">info@ageinplace123.com</a></p>
          </ul>
          </div>
        </div>

        
      <div class="footer-menu" align="center">
            <ul>
            <br>
            <li>
            <%= link_to("Home", "/home") %>
            </li>
            <li>
            <%= link_to("About", "/about") %>
            </li>
            <li>
            <%= link_to("Services", "/services") %>
            </li>
            </ul>
      </div>

      <div class="social-container" align="right">
          <h5>Connect With Us</h5>
          <%= link_to image_tag("FB-logo.png", :size => "29x29") %><a href="#" class="follow"></a>
          <%= link_to image_tag("Instagram_AppIcon_Aug2017.png", :size => "29x29") %><a href="#" class="follow"></a>
          <%= link_to image_tag("Twitter_Logo_Blue.png", :size => "29x29") %><a href="#" class="follow"></a>
          <%= link_to image_tag("Linkedin-logo.png", :size => "29x29") %><a href="#" class="follow"></a>
      </div>
  
      <div class="faqs-container" align="center">
      <br>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      </div>
      </nav>
    </div>
  </footer>
</div>