  <head>
    <title>AgeInPlace123</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="container">
    
      <div class="navbar-header">
        <button-type="button" class="navbar-toggle" data-toggle="collapse" data-target="main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> <!-- navbar-header collapse -->

    </div> <!-- Container collapse -->

    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
      </ul>

      <%= image_tag("logo.png", :size => "100x100", :role => "logo") %>
      <div class="nav-title">Find the Resources You Need</div>

      <form class="form-inline my-2 my-lg-0"> <!-- Search Bar -->
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> <!-- Main Nav Collapse collapse -->

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      
  </nav> <!-- Navbar collapse -->


</nav>

    <%= yield %>
  </body>
</html>