<!DOCTYPE html>
<html>
  <head>
    <title>AgeInPlace123</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <div class="header-container">
    <div class="header-logo">
      <%= image_tag("logo.png", :size => "200x200") %>
    </div>
      <div class="header-title">Find the Resources You Need</div>
      <\r\n>
      <div class="search">
          <input type="text" placeholder="Search" name="search">
          <button type="submit">Search</button>
        </div>

  <nav>
    <ul class="dropdown-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>


    <%= yield %>
  </body>
</html>