<!DOCTYPE html>
<html>
  <head>
    <title>AgeInPlace123</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header-container">
    <div class="header-logo">
      <%= image_tag("logo.png", :size => "200x200") %>
    </div>
      <div class="header-title">Find the Resources You Need</div>
      <div class="search">
          <input type="text" placeholder="Search" name="search">
          <button type="submit">Search</button>
        </div>
</div>

  <div class="dropdown-menu" id="dropdown">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>  
  </div>
    



    <%= yield %>
  </body>
</html>